[Unit]
Description=YAWGD Daemon
After=network.target knxd.service

[Service]
ExecStart=/usr/sbin/yawgd.pl -p /run/yawdg.pl.pid
User=root
Group=root

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target network-online.target
